<% layout('layouts/boilerplate') %>

    <h1>Campground: <%= foundCampground.title %></h1>
    <h2>Location: <%= foundCampground.location %></h2>
    <p>
    <a href="/campgrounds">Back</a>
    </p>
    <p>
    <a href="/campgrounds/<%= foundCampground._id %>/edit">Edit Campground</a>
    </p>
    <p>
    <form
      action="/campgrounds/<%= foundCampground._id %>?_method=DELETE"
      method="post"
    >
      <button>Delete Campground</button>
    </form>
    </p>
    <footer>
      <a href="/campgrounds">All campgrounds</a>
    </footer>

